<div class="container my-5 mx-auto">
    <div class="card">
        <div class="card-header d-flex">
            <div class="col">{{'app.card.header' | translate}}</div>
            <div class="col text-right">
                <a (click)="changeLocale('en')"><img src="assets/images/uk.png" width="25" height="25" /></a>
                <a (click)="changeLocale('nl')" class="ml-3"><img src="assets/images/nl.png" width="25"
                        height="25" /></a>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{'app.card.body.hint' | translate}}</p>
            <form>
                <div class="form-row justify-content-around my-3">
                    <div class="col">
                        <select class="form-control" id="rover" name="rover" [(ngModel)]="search.rover">
                            <option *ngFor="let rover of ['Curiosity', 'Opportunity' , 'Spirit']">
                                {{rover}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="sol" id="sol"
                            placeholder="{{'app.card.body.table.sol' | translate}}" [(ngModel)]="search.sol" />
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="camera" id="camera"
                            placeholder="{{'app.card.body.table.camera' | translate}}" [(ngModel)]="search.camera" />
                    </div>
                    <div class="col">
                        <a class="btn btn-primary text-white w-75"
                            (click)="doSearch()">{{'app.card.body.table.search' | translate}}</a>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr class="d-flex">
                        <th class="col-3">{{'app.card.body.table.sol' | translate}}</th>
                        <th class="col-3">{{'app.card.body.table.earthDate' | translate}}</th>
                        <th class="col-3">{{'app.card.body.table.camera' | translate}}</th>
                        <th class="col-3">{{'app.card.body.table.photo' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="d-flex" *ngFor="let photo of photos">
                        <td class="col-3">{{photo.sol}}</td>
                        <td class="col-3">{{photo.earth_date}}</td>
                        <td class="col-3">{{photo.camera.name}}</td>
                        <td class="col-3">
                            <a>
                                <img [src]="photo.img_src" class="mr-2 img-responsive img-thumbnail">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center p-2">
                <ngb-pagination (pageChange)="doSearch($event)" [collectionSize]="totalPhotos" [(page)]="search.page" [pageSize]="25"  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>
</div>