@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'assets/fonts/stylesheet.css';

html,
body {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  background-color: #fff;
  color: #000000ad;
}

a {
  cursor: pointer;
}
